<div class="col-3">
    <img width="100%" height="auto" src="{{image}}" alt="{{title}}">
    <h3>{{title}}</h3>
    <p>
        {{body}}
    </p>

    <p>
        
        
        {{#each data}}
        <span>{{tag}}</span>
        {{/each}}
    </p>
</div>